body{
    background-color: #DDFFDD;
    padding: 5% 0px 15% 0px;
    margin-bottom: 10%;
    height: 400px;

}

h1{
    text-align: center;
}

h2{
    padding:0px 0px 0px 20px;
}

h3{
    padding:0px 0px 0px 20px;
}
p{
    padding: 0px 10px;
}
div.white_box1{
    background-color: white;
    border-radius: 20px; 
    border: 2px solid #000000;
    margin-left: 10%;
    margin-right: 10%;
}

div.white_box2{
    
    background-color: white;
    border-radius: 20px; 
    border: 2px solid #000000;
    margin-left: 10%;
    margin-bottom: 10%;
    width: 40%;
    float: left;
    
    
}

div.white_box3{
    background-color: white;
    border-radius: 20px; 
    border: 2px solid #000000;
    margin-left: 55%;
    margin-right: 10%;
    padding: 10px;
    
}


th.first{
    width: 20%;
    background-color: lightskyblue;
}

table{
    width: 60%;
    margin-left: 20%;
}

ol{
    flex-wrap: wrap;
}

li{
    padding: 2px;
}

#toppage_url{
    background-color: aqua;
    position: absolute;
    right:10%;

} 


a{
    font-size: 15px;
    text-decoration: none;
}

a:link, a:visited, a:hover, a:active {
    color: blue;
  }

  .overflow-wrap.break-word {
    overflow-wrap: break-word;
  }